<div id="profileImage" class="uk-background-cover" data-src="./images/profileimage.jpg" uk-img>
  <div class="col-auto">
    <h2 class="profileTitle">Welcome back, {{first_name}}!</h2>

  </div>

  <div class="row">
    <div class=".uk-column-1-6">
      <h4>My pet(s):</h4>
      <div class="my-pet">
        {{#each pets as |pet| }}
        <div class="form-group">
          <div class="pet-name">Name: {{pet.name}}</div>
          <div class="pet-breed">Breed: {{pet.breed}}</div>
          <img src="{{pet.profilePhoto}}" class="picture" height="300px" width="300px">
          <div class="pet-age">DOB: {{format_date pet.dob}}</div>
        </div>
        {{/each}}

      </div>

      <div class="uk-margin profile-group">
        <input class="uk-input" type="text" placeholder="Dog's Name" id="pet-name" />
      </div>

      <div class="uk-margin profile-group">
        <label class="uk-text-left" for="form-stacked-text">Primary Dog Breed:</label>
        <select class="uk-select" id="breed form-stacked-select" type="text">
          <option id="breedOption"></option>
          <option id="breedOption">Australian Shepard</option>
          <option id="breedOption">Beagle</option>
          <option id="breedOption">Chihuahua</option>
          <option id="breedOption">Corgi</option>
          <option id="breedOption">Dalmation</option>
          <option id="breedOption">Doberman</option>
          <option id="breedOption">French Bulldog</option>
          <option id="breedOption">German Shepard</option>
          <option id="breedOption">Golden Retriever</option>
          <option id="breedOption">Great Dane</option>
          <option id="breedOption">Pinscher - Miniature</option>
          <option id="breedOption">Pit Bull Terrier</option>
          <option id="breedOption">Poodle</option>
          <option id="breedOption">Pomeranian</option>
          <option id="breedOption">Labrador Retriever</option>
          <option id="breedOption">Rottweiler</option>
          <option id="breedOption">Schnauzer</option>
          <option id="breedOption">Shih Tzu</option>
          <option id="breedOption">Yorkshire Terrier</option>
        </select>
      </div>

      <form id="birthdayForm" action="/action_page.php">
        <label for="birthday">Dog's Date of Birth: </label>
        <input type="date" id="birthday" name="birthday">
      </form>


    </div>

    <div class="uk-margin profile-group">
      <label class="uk-text-left" for="form-stacked-select" id="interest_id">Your Interests (Select all that apply):
      </label>
      <ul style="list-style: none;">
        <li><label class="uk-text-emphasis"><input class="checkbox" type="checkbox"> Cooking/Baking </label></li>
        <li><label class="uk-text-emphasis"><input class="checkbox" type="checkbox"> Creative/Crafty </label></li>
        <li><label class="uk-text-emphasis"><input class="checkbox" type="checkbox"> Foodie/Gourmand </label></li>
        <li><label class="uk-text-emphasis"><input class="checkbox" type="checkbox"> Homebody </label></li>
        <li><label class="uk-text-emphasis"><input class="checkbox" type="checkbox"> Outdoor Adventurer </label></li>
        <li><label class="uk-text-emphasis"><input class="checkbox" type="checkbox"> Sports </label></li>
        <li><label class="uk-text-emphasis"><input class="checkbox" type="checkbox"> Technology/Gaming </label></li>
        <li><label class="uk-text-emphasis"><input class="checkbox" type="checkbox"> Travel </label></li>
      </ul>
    </div>


    <div class="uk-margin profile-group">
      <label class="uk-text-left" id="pet_breed" for="form-stacked-text">Upload Profile Image: </label>
      <form action="/action_page.php">
        <input type="file" id="myFile" name="foo">
      </form>
    </div>

    <div class="uk-margin">
      <button id="saveBtn" class="uk-button uk-button-default" type="submit">Save</button>
    </div>


    <script src="./js/profile.js"></script>
